<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a DUA</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <div class="container">
        <h1>¡Bienvenido a DUA!</h1>
        <div class="welcome-content">
            <p>Hola, <span class="username">{{ username }}</span></p>
            <p>Has iniciado sesión correctamente</p>
        </div>
        <div class="buttons">
            <a href="./profile.html" class="button">Mi Perfil</a>
            <a href="./logout" class="button logout-button">Cerrar Sesión</a>
        </div>
    </div>
</body>
</html>